*{
    padding:0;
    margin:0;
}

.pointer{
    cursor: pointer;
}

#burger-menu-icon{
    font-size: 48px;
    color:black;
    margin:1.5rem 2rem;
    position:absolute;
}

#hero-section-container{
    height:100vh;
}

#logo-div{
    height:600px;
    background-image: url("./IMAGES/favicon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    left:100px;
    /*-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));*/
}

.center{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.valign{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

#hero-blob{
    height:100vh;
    border: 2px solid red;
    transform: rotate(-30deg) translateX(25%) translateY(10%);
    border-radius: 70% 50% 93% 69%;
    background-image: url("https://images.unsplash.com/photo-1567168539593-59673ababaae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
}